@charset "UTF-8";

@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-Regular.woff2") format("woff2"), url("../../fonts/Karla-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-SemiBold.woff2") format("woff2"), url("../../fonts/Karla-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-Bold.woff2") format("woff2"), url("../../fonts/Karla-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../../fonts/Karla-ExtraBold.woff2") format("woff2"), url("../../fonts/Karla-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("../../fonts/Prompt-Medium.woff2") format("woff2"), url("../../fonts/Prompt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("../../fonts/Prompt-Black.woff2") format("woff2"), url("../../fonts/Prompt-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  text-align: left;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/*---------------------------------------------------------*/

.wrapper {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1300px;
  padding: 0 30px;
  margin: 0 auto;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 42px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  padding: 12px 20px;
  -webkit-box-shadow: inset 0 0 0 2px #00A3FF;
  box-shadow: inset 0 0 0 2px #00A3FF;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #007BC2;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button.disabled {
  -webkit-box-shadow: inset 0 0 0 2px #B9D9EC;
  box-shadow: inset 0 0 0 2px #B9D9EC;
  pointer-events: none;
  color: #B9D9EC;
}

.button.secondary-button {
  background-color: #F9430A;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff;
}

.button.secondary-button.disabled {
  background-color: #FDAB92;
  pointer-events: none;
}

.button.primary-button {
  background-color: #00A3FF;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #ffffff;
}

.button.primary-button.disabled {
  background-color: #B9D9EC;
  pointer-events: none;
}

.section {
  padding: 40px 0;
}

.swiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: url("../images/icons/icon-arrow-left-lightblue.svg") left 10px center/13px auto no-repeat;
  z-index: 3;
  top: 51%;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -60px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.swiper-pagination {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
}

.swiper-pagination-bullet {
  margin: 0 3px 5px 2px !important;
  width: 10px;
  height: 10px;
  border-radius: 0;
  border: 1px solid #00A3FF;
  background-color: #ffffff;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #00A3FF;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #ffffff;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #243238;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.167;
}

h1,
.main-title {
  font-size: 24px;
}

h2,
.big-title {
  font-size: 20px;
  line-height: 1.15;
}

h3,
.medium-title {
  font-size: 18px;
}

h4,
.small-title {
  font-size: 16px;
}

h5,
.litle-title {
  font-size: 15px;
}

h6,
.micro-title {
  font-size: 15px;
}

.header {
  padding: 10px 0 8px;
  background-color: #ffffff;
  position: relative;
  z-index: 5;
  margin-bottom: 2px;
}

.header::after {
  content: "";
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#00A3FF), color-stop(50%, #FAB16A), to(#243238));
  background: linear-gradient(90deg, #00A3FF 0%, #FAB16A 50%, #243238 100%);
  position: absolute;
  left: 0;
  top: 100%;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 302px;
  margin-right: 25px;
}

.header__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 5px;
}

.header__signin-link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #243238;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__contact-link {
  margin-left: 20px;
  white-space: nowrap;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -30px;
}

.header__menu-item {
  position: relative;
  line-height: 1;
}

.header__menu-link {
  display: inline-block;
  position: relative;
  padding: 6px 30px 4px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #243238;
  text-align: center;
}

.header__menu-link::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #243238;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
}

.header__menu-link.active::after {
  opacity: 1;
}

.header__menu-arrow {
  display: none;
}

.header__bottom {
  display: none;
}

.header__burger {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 2px solid transparent;
  position: relative;
  margin-left: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 15;
}

.header__burger span {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #00A3FF;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: calc(50% - 2px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__burger span:first-child {
  top: 6px;
}

.header__burger span:last-child {
  top: auto;
  bottom: 6px;
}

.header__burger.active {
  border-color: #00A3FF;
}

.header__burger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  width: 16px;
}

.header__burger.active span:first-child {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  top: calc(50% - 2px);
}

.header__burger.active span:last-child {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  bottom: calc(50% - 2px);
}

.submenu {
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  z-index: 5;
  width: 100%;
  border-top: 2px solid #F9430A;
  border-bottom: 2px solid #A8C1BB;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu__list {
  list-style: none;
}

.submenu__list-item {
  line-height: 1;
}

.submenu__list-link {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #DEEBEF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #243238;
  text-align: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submenu__list-link.active {
  background-color: #C8D8DD;
}

.top {
  position: relative;
}

.top__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.top__bg img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.top__bg::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 69, 78, 0.4);
  position: absolute;
  left: 0;
  top: 0;
}

.top__inner {
  min-height: 420px;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.top__content {
  width: 100%;
  max-width: 600px;
  color: #ffffff;
}

.top__text {
  margin-top: 14px;
}

.top__button {
  margin-top: 14px;
}

.information.blue-bg {
  background-color: #DEEBEF;
}

.information__inner {
  max-width: 1040px;
  margin: 0 auto;
}

.information__secondary-title {
  margin-top: 20px;
}

.information__text {
  margin-top: 20px;
}

.information__actions {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.information__link {
  margin-top: 20px;
  margin-right: 10px;
}

.journal__text {
  margin-top: 20px;
}

.journal__block {
  margin: 20px -10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.journal__column {
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.journal__item {
  height: 100%;
  border-radius: 8px;
  background-color: #F3F3F3;
  padding: 20px 40px 40px;
}

.journal__item-heading {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.journal__item-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #98BFD4;
}

.journal__item-icon img {
  display: block;
  width: 24px;
  height: auto;
}

.journal__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}

.journal__item-row {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.journal__item-category {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 123px;
  padding-right: 10px;
}

.journal__item-info {
  word-break: break-word;
}

.journal__item-download {
  margin-top: 29px;
}

.journal__full-link {
  margin: 0 auto;
}

.description__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 -10px;
}

.description__image {
  width: 50%;
  padding: 0 10px;
}

.description__image img {
  display: block;
  width: 100%;
  height: auto;
}

.description__info {
  width: 50%;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 0 10px;
}

.description__text {
  margin-top: 10px;
}

.description__link {
  margin-top: 10px;
}

.events__text {
  margin-top: 20px;
}

.events__slider-block {
  max-width: 900px;
  margin: 20px auto 0;
}

.events__slider {
  margin-left: 76px;
  margin-right: 76px;
}

.events__slide {
  width: 100%;
  border-radius: 8px;
  background-color: #F3F3F3;
  padding: 20px 40px 40px;
}

.events__slide-heading {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.events__slide-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #98BFD4;
}

.events__slide-icon img {
  display: block;
  width: 24px;
  height: auto;
}

.events__slide-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}

.events__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.events__slide-info {
  width: 302px;
  margin-right: 20px;
}

.events__slide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 8px 0 7px;
  border-bottom: 1px solid #000000;
}

.events__slide-row:last-of-type {
  border-bottom: 0;
}

.events__slide-category {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 83px;
  padding-right: 10px;
}

.events__slide-description {
  width: 328px;
  padding-top: 8px;
}

.events__slide-description p + p {
  margin-top: 15px;
}

.events__slide-link {
  margin: 28px auto 0;
}

.events__slider-pagination {
  display: none;
}

.events__full-link {
  margin: 20px auto 0;
}

.events .swiper-button-prev {
  left: -76px;
}

.events .swiper-button-next {
  right: -76px;
}

.benefits__text {
  margin-top: 20px;
}

.benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px -10px 0;
}

.benefits__column {
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.benefits__item {
  height: 100%;
  border-radius: 8px;
  background-color: #F3F3F3;
  padding: 20px 43px 40px 40px;
}

.benefits__item-image {
  position: relative;
  padding-bottom: 56.2%;
}

.benefits__item-image img,
.benefits__item-image picture {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.benefits__item-title {
  margin: 19px 0 15px;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefits__item-decor {
  display: block;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#00A3FF), color-stop(50%, #FAB16A), to(#243238));
  background: linear-gradient(90deg, #00A3FF 0%, #FAB16A 50%, #243238 100%);
  margin-bottom: 7px;
}

.benefits__item-text + .benefits__item-text {
  margin-top: 15px;
}

.benefits__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -10px;
}

.benefits__actions a {
  min-width: 175px;
  margin: 0 5px 10px;
}

.learning__text {
  margin-top: 20px;
}

.learning__slider-block {
  padding: 20px 60px 0;
  overflow: hidden;
  position: relative;
}

.learning__slider-block::before,
.learning__slider-block::after {
  content: "";
  width: 55px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 2;
}

.learning__slider-block::before {
  left: 0;
}

.learning__slider-block::after {
  right: 0;
}

.learning__slide {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #DEEBEF;
  padding: 20px 40px 40px;
}

.learning__slide-heading {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.learning__slide-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #98BFD4;
}

.learning__slide-icon img {
  display: block;
  width: 24px;
  height: auto;
}

.learning__slide-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
}

.learning__slide-text {
  margin-bottom: 15px;
}

.learning__slide-text:last-of-type {
  margin-bottom: 27px;
}

.learning__slide-link {
  margin-top: auto;
}

.learning__all-link {
  margin: 14px auto 0;
}

.footer {
  position: relative;
  padding: 50px 0;
  margin-top: 2px;
}

.footer::before {
  content: "";
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#00A3FF), color-stop(50%, #FAB16A), to(#243238));
  background: linear-gradient(90deg, #00A3FF 0%, #FAB16A 50%, #243238 100%);
  position: absolute;
  left: 0;
  bottom: 100%;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 302px;
  margin-right: 38px;
}

.footer__logo img {
  display: block;
  width: 100%;
  height: auto;
}

.footer__address {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 230px;
  margin-right: 25px;
  font-weight: 700;
}

.footer__address span {
  display: block;
}

.footer__socials {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 16px;
  margin-left: auto !important;
}

.footer__middle {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__copyright {
  margin-right: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.footer__policies-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__policies-item {
  position: relative;
  padding-right: 25px;
  margin-bottom: 5px;
  line-height: 1;
}

.footer__policies-item::after {
  content: "";
  width: 2px;
  height: calc(100% - 4px);
  background-color: #243238;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer__policies-item:last-child {
  padding-right: 0;
}

.footer__policies-item:last-child::after {
  display: none;
}

.footer__policies-link {
  font-weight: 700;
  line-height: 1.2;
  color: #0072B2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__policies-link.active {
  color: #00A3FF;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__company-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 96px;
  margin-left: auto;
}

.footer__company-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -5px;
}

.socials__item {
  padding: 0 5px;
  margin-bottom: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #243238;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.socials__link.fb {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.socials__link img {
  display: block;
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
}

@media (min-width: 992px) {
  .header__menu-item.subitem:hover .submenu,
  .header__menu-item.subitem:focus .submenu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@media (min-width: 993px) {
  .button:hover,
  .button:focus {
    -webkit-box-shadow: inset 0 0 0 2px #0072B2;
    box-shadow: inset 0 0 0 2px #0072B2;
  }

  .button.secondary-button:hover,
  .button.secondary-button:focus {
    background-color: #FA6132;
  }

  .button.primary-button:hover,
  .button.primary-button:focus {
    background-color: #0072B2;
  }

  .swiper-button-prev:hover,
  .swiper-button-prev:focus,
  .swiper-button-next:hover,
  .swiper-button-next:focus {
    background-color: #0072B2;
    background-image: url("../images/icons/icon-arrow-left-white.svg");
  }

  .swiper-pagination-bullet:hover,
  .swiper-pagination-bullet:focus {
    border-color: #0072B2;
    background-color: #0072B2;
  }

  .header__signin-link:hover,
  .header__signin-link:focus {
    color: #0072B2;
  }

  .header__navigation-wrap {
    display: block !important;
  }

  .header__menu-link.active:hover::after,
  .header__menu-link.active:focus::after {
    background-color: #243238;
  }

  .header__menu-link:hover::after,
  .header__menu-link:focus::after {
    opacity: 1;
    background-color: #F9430A;
  }

  .header__submenu {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  .submenu__list-link:hover,
  .submenu__list-link:focus {
    background-color: #C8D8DD;
  }

  .footer__policies-link:hover,
  .footer__policies-link:focus {
    color: #00A3FF;
  }

  .socials__link:hover,
  .socials__link:focus {
    background-color: #0072B2;
  }
}

@media (max-width: 992px) {
  .swiper-button-prev {
    left: -40px;
  }

  .swiper-button-next {
    right: -40px;
  }

  .header {
    padding-bottom: 10px;
  }

  .header__logo {
    width: 270px;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .header__navigation-wrap {
    display: none;
    position: fixed;
    left: 0;
    top: 140px;
    z-index: 10;
    width: 100vw;
    height: calc(100vh - 140px);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .header__navigation-wrap.open .header__navigation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header__navigation {
    height: 100%;
    max-width: 400px;
    margin-left: auto;
    background-color: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
  }

  .header__menu {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    margin-right: 0;
  }

  .header__menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 110px;
    padding: 20px 10px 20px 20px;
    margin-right: 40px;
    font-size: 20px;
  }

  .header__menu-link.active {
    text-decoration: underline;
  }

  .header__menu-link.active::after {
    display: none;
  }

  .header__menu-link::after {
    display: none;
  }

  .header__menu-arrow {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 20px;
    top: 37px;
    background: url("../images/icons/icon-menu-arrow-right.svg") center center/9px auto no-repeat;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .header__menu-arrow.active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
  }

  .submenu {
    display: none;
    position: static;
    border: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  .submenu__list-item {
    border-bottom: 1px solid #C8D8DD;
  }

  .submenu__list-item:last-child {
    border-bottom: 0;
  }

  .submenu__list-link {
    min-height: 109px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 20px 20px 40px;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: left;
  }

  .journal__column {
    width: 50%;
  }

  .events__slider {
    margin-left: 40px;
    margin-right: 40px;
  }

  .events .swiper-button-prev {
    left: -40px;
  }

  .events .swiper-button-next {
    right: -40px;
  }

  .benefits__column {
    width: 50%;
  }

  .learning__slider-block {
    padding-left: 40px;
    padding-right: 40px;
  }

  .learning__slider-block::before,
  .learning__slider-block::after {
    width: 35px;
  }
}

@media (max-width: 992px) and (max-width: 400px) {
  .header__menu-link {
    min-height: 70px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .swiper-pagination {
    padding-top: 10px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 8px 10px !important;
  }

  .journal__block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .journal__column {
    width: 100%;
    max-width: 500px;
  }

  .description__block {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .description__image {
    width: 100%;
    margin-bottom: 20px;
  }

  .description__info {
    width: 100%;
  }

  .events__slider {
    margin: 0;
  }

  .events__slider-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .events__full-link {
    margin-top: 10px;
  }

  .events .swiper-button-prev {
    display: none;
  }

  .events .swiper-button-next {
    display: none;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .footer__logo {
    width: 227px;
    margin-right: 0;
    margin-bottom: 17px;
  }

  .footer__address {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 17px;
  }

  .footer__socials {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -5px !important;
    padding-top: 0;
  }

  .footer__middle {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .footer__copyright {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer__policies-list {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 20px 0;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .header .container {
    padding: 0 20px;
  }

  .header__logo {
    width: 226px;
  }

  .header__contact-link {
    margin-left: 0;
  }

  .header__navigation-wrap {
    top: 128px;
    height: calc(100vh - 128px);
  }

  .header__navigation {
    max-width: 100%;
  }

  .events__slide-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .events__slide-info {
    width: 100%;
    margin-right: 0;
    margin-bottom: 23px;
  }

  .events__slide-description {
    width: 100%;
  }

  .benefits__column {
    width: 100%;
  }

  .benefits__item-image {
    padding-bottom: 66.5%;
  }

  .benefits__actions {
    margin: 0 -5px -10px;
  }

  .benefits__actions a {
    min-width: calc(50% - 10px);
  }

  .learning__slider-block {
    padding-left: 0;
    padding-right: 0;
  }

  .learning__slider-block::before,
  .learning__slider-block::after {
    display: none;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0 15px;
  }

  .header__contact-link {
    margin-left: 20px;
  }

  .header__navigation-wrap {
    top: 134px;
    height: calc(100vh - 134px);
  }

  .header__menu-arrow {
    right: 10px;
    top: 22px;
    width: 24px;
    height: 24px;
    background-size: 7px auto;
  }

  .header__burger {
    margin-left: auto;
  }

  .submenu__list-link {
    min-height: 50px;
    font-size: 16px;
  }

  .journal__item {
    padding: 20px;
  }

  .journal__item-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .journal__item-category {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    padding-right: 0;
  }

  .events__slide {
    padding: 20px 20px 30px;
  }

  .benefits__item {
    padding: 20px 20px 30px;
  }

  .benefits__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .benefits__actions a {
    min-width: 175px;
  }

  .learning__slide {
    padding: 20px 20px 30px;
  }
}