$white: #ffffff;
$black: #000000;

$text: #243238;
$light: #F3F3F3;
$grey: #D0D2CF;

$blue: #0072B2;
$blue-light: #00A3FF;
$blue-extralight1: #98BFD4;
$blue-extralight2: #C8D8DD;
$blue-extralight3: #DEEBEF;

$aqua: #0FBCAE;
$orange: #F9430A;
$rose: #FF0099;

// $green-light: #A2CF64;
// $blue: #1479AC;
// $red: #F14336;



// font-family: 'Prompt', sans-serif;

// $size-xs:  400px;
// $size-s:   576px;
// $size-m:   768px;
// $size-l:   992px;
// $size-xl:  1100px;
// $size-xxl: 1200px;
// $size-big: 1400px;